body{
    padding: 20px;    
    background-color: rgb(255, 244, 232);
    
}
h1, h2{
    text-align: center;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;}

section{
    background-color: wheat;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 320px;
}

section h3{
    text-align: center;

}

