html{
    scroll-behavior: smooth;
}
body{
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
}



#me{
    position: absolute;
    top: 200px;
    left: 300px;
    border-radius: 10px;
    height: 400px;
    width: auto;
}

header{
    z-index: 1;
    position: fixed;
}
.menu{
    position: fixed;
    right: 5%;
    top: 0%;
    font-size: 20px;
}

.menu ul{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.menu ul li{
    list-style: none;
    margin: 20px 30px;
}
.menu ul li a{
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif; 
    color: rgb(230, 113, 113);
    margin: 0 30px;
    text-align: center;
}

.menu #port{
    color: black;
}
.menu #aboutme{
    color: rgb(230, 113, 113);}

    .menu #port1{
        color: rgb(230, 113, 113);
    }
    .menu #aboutme1{
        color: black;
    }
.menu ul li a:hover{
    color: black;	
    font-weight:bold;
}
h1{
    font-family: 'Josefin Sans', sans-serif;    
    padding: 10px 40px;
    font-size: 30px;
    position: absolute;
    color: white;
    z-index: 1;
    width: 200px;
}

h1 a{
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;    
    color: white;
}


#text{
    position: absolute;
    left: 700px;
    top: 160px;
    width: 450px;
    font-size: 18px;
    padding: 50px 20px;
}

#corner{
    position: absolute;
    width: 300px;
    height: 300px;
    top: -180px;
    left: -25px;
    border-radius: 50%;
    background-color: rgb(230, 113, 113);
    opacity: 0.7;
}

#welcome{
    position: absolute;
    font-family: 'Stardos Stencil', cursive;
    text-align: center;
    left: 41%;
    top: 67%;
    font-size: 20px;
    padding: 0;
}

a i{
    position: absolute;
    font-family: 'Stardos Stencil', cursive;
    text-align: center;
    left: 43%;
    top: 72%;
    font-size: 30px;
    color: rgb(230, 113, 113);
    padding-top: 10px;
    animation: arrow 1s infinite alternate;
    width: 200px;
}


i:hover{
    font-size: 25px;
    color: black;
}

@keyframes arrow{
    0%{
        left: 40%;
    }
    100%{
        left: 43%;
    }
}


#hi{
    font-family: 'Stardos Stencil', cursive;
    text-align: center;
    margin-top: 70px;
}

#hello{
    font-size: 30px;
    margin:0 ;
}

#hi p{
    margin-left: 0px;

}
 

#hi img{
    position: absolute;
    z-index: 1;
    top: 170px;
    left: 36%;
    opacity: 0;
    animation-name: name;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes name{
    0%{
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


#circle #one{
    width: 360px;
    height: 360px;
    background-color: rgb(230, 126, 126);
    border-radius: 50%;
    opacity: 0.5;
    position: absolute;
    left: 48%;
    top: 100px;
    animation-name: one;
    animation-duration: 2s;
	animation-fill-mode: forwards;
}
#circle #two{
    width: 400px;
    height: 400px;
    background-color: rgb(230, 126, 126);
    border-radius: 50%;
    opacity: 0.8;
    position: absolute;
    left: 27%;
    top: 80px;
    animation-name: two;
    animation-duration: 2s;
	animation-fill-mode: forwards;
}

@keyframes one {
    from{
        left: 0;
    }
    to{
        left: 48%;
    }
}


@keyframes two {
    from{
        left: 100%;
    }
    to{
        left: 27%;
    }
}


#text div ul{
    position: absolute;
    display: flex;
    padding: 0;
}

.contact ul li{
    list-style: none;
    padding: 0;
    padding-right: 70px;
}

.contact ul li a {
    text-decoration: none;
    color: rgb(230, 126, 126);
    font-family: 'Josefin Sans', sans-serif;  
    font-weight:bold;
 
}

.contact ul li a:hover {
    color: rgb(0, 0, 0);
}

#white{
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 18vh;
    box-shadow:-0px -1px 5px 0px #999999;
}

footer {
    position: fixed;
    bottom: 0vh;
    right: 0;
    padding-right: 120px;
}

footer .contact ul{
    display: flex;
}

#bottomcircle{
    position: fixed; 
    overflow: hidden;
    right: 0%;
    bottom: -50px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: rgb(250, 168, 168);
   
}

main{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 15%;
    justify-content: center;
    top: 15%;
}

main p{
    margin: 0 auto;
    flex: 100%;
    font-size: 18px;
}

#magss{
    position: absolute;
}
#unitrans{
    position: absolute;
    height: 200px;
    top: 210%;
}

#logoa{
    position: absolute;
    height: 200px;
    top: 360%;
}

#slides{
    margin-bottom: 50px;
}
#mags{
    margin-bottom: 50px;

}
#poster{
    margin-bottom: 50px;

}

#logo{
    margin-bottom: 50px;
}

#logo img{
    width: 200px;
    height: 200px;
    margin: 20px;
    border: solid rgb(202, 202, 202) 0.5px;
}

#poster img{
    width: 300px;
    height: auto;
    margin: 40px;
    border-radius: 10px;
    border:2px solid #d6d6d6;
    transition: 1s ease;
}
#mags img{
    width: 550px;
    height: auto;
    margin: 40px;
    border-radius: 10px;
    border:2px solid #d6d6d6;
    transition: 1s ease;
}

#mags img:hover{
    opacity: 0.4;
    filter: drop-shadow(4px 4px 5px rgb(99, 99, 99));
    transition: 0.5s ease;
    cursor: pointer;
}

#slides img{
    width: 550px;
    height: auto;

    margin: 40px;
    border-radius: 10px;
    border:2px solid #d6d6d6;
    transition: 1s ease;
    cursor: pointer;

}

#slides img:hover{
    opacity: 0.4;
    filter: drop-shadow(4px 4px 5px rgb(99, 99, 99));
    transition: 0.5s ease;
}

#slides .four{    
    filter: grayscale(20%) saturate(0.5) brightness(104%);

}

#slides .five{
    filter: grayscale(20%) saturate(0.5) brightness(104%);

}

#scroll{
    position: fixed;
    top: 18%;
    left: 0;
    background-color: white;
    z-index: 1;
    width: 100vw;
    padding-left: 25vw;
    margin: 0;
    border-bottom: solid 1px rgb(185, 185, 185);
    /* box-shadow:-0px 0px 2px 0px #999999; */

}

#scroll ul{
    list-style: none; 
    display: flex;
    margin: 0;
}

#scroll ul li{
   padding: 20px 40px;
}

#scroll ul li a{
    text-decoration: none;
    color: gray;
    padding: 10px;
    border-radius: 20px;

}

#scroll ul li a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(231, 231, 231);
}

#ui{
    background-color: rgb(231, 231, 231);

}




#hero{
    position: absolute;
    top: 18%;
    left: 15%;
}

#hero img{
    width: 70vw;
}

#hero p{
    position: absolute;
    top: 87.3%;
    background-color: white;
    left: 20%;
    width: 100vw;
    height: 40px;
    text-decoration: none;
    font-size: 25px;
}

#hero p a{
    text-decoration: none;
    color: rgb(252, 141, 174);
}

#oc{
    position: absolute;
    top: 390%;
    background-color: rgb(255, 255, 255);
    left: 40%;
    width: 100vw;
    height: 40px;
    text-decoration: none;
    font-size: 25px;
    
}

#oc a{
    text-decoration: none;
    color: rgb(252, 141, 174);
}




@media only screen and (max-width: 1200px){
    #circle #one{
        width: 340px;
        height: 340px;
    }
    #circle #two{
        width: 380px;
        height: 380px;
    }
    @keyframes one {
        from{
            left: 0;
        }
        to{
            left: 40%;
        }
    }
    
    
    @keyframes two {
        from{
            left: 100%;
        }
        to{
            left: 20%;
        }
    }

    #hi img{
        top: 170px;
        left: 29%;
    }
    #welcome{
        left: 35%;
        top: 65%;
    }

    a i{
        top: 70%;
        left: 0%;
    }
    @keyframes arrow{
        0%{
            left: 32%;
        }
        100%{
            left: 35%;
        }
    }
}

@media only screen and (max-width: 850px){
    #circle #one{
        width: 300px;
        height: 300px;
        top: 110px;
    }
    #circle #two{
        width: 340px;
        height: 340px;
        top: 90px;
    }

    #hi img{
        top: 160px;
        left: 28%;
        width: 350px;
        height: auto;
    }
}

@media only screen and (max-width: 600px){
    #circle #one{
        width: 230px;
        height: 230px;
        top: 110px;
    }
    #circle #two{
        width: 270px;
        height: 270px;
        top: 90px;
    }

    #hi img{
        top: 145px;
        left: 28%;
        width: 280px;
        height: auto;
    }
}

@media only screen and (max-width: 500px){
    #circle #one{
        width: 150px;
        height: 150px;
        top: 110px;
    }
    #circle #two{
        width: 190px;
        height: 190px;
        top: 90px;
    }

    #hi img{
        top: 130px;
        left: 28%;
        width: 180px;
        height: auto;
    }
}

@media only screen and (max-height: 700px){
    #welcome{
        top: 75%;
    }

    a i{
        top: 80%;
    }
    @keyframes arrow{
        0%{
            left: 40%;
        }
        100%{
            left: 43%;
        }
    }
}


@media only screen and (min-width: 1500px){
    #circle #one{
        width: 380px;
        height: 380px;
        left: 45%;
    }
    #circle #two{
        width: 420px;
        height: 420px;
        left: 30%;
    }
    @keyframes one {
        from{
            left: 0;
        }
        to{
            left: 45%;
        }
    }
    
    
    @keyframes two {
        from{
            left: 100%;
        }
        to{
            left: 30%;
        }
    }
}




