.container{
    background: url(images/background1.png);
    max-width: 1366px;
    min-width: 900px;
    margin: auto;
    position: relative;
}

#banner{
    width: 1100px;
    height: 250px;
    margin: auto;
}

.lights{
    position: absolute;
    top: -15px;
    left: 200px;
    filter: sepia(100%);
    z-index: 1;
}
.lights:hover{
    filter: sepia(0%);
    cursor: pointer;
}

/* animation on lights ? */

.bee{
    position: absolute;
    right: 20px;
    top: -100px;
    animation: beean 10s ease infinite alternate;
}


@keyframes beean{
    0%{
        transform: scaleX(-1);
        right: 300px;
        top: -100px;
    }
    33%{
        right: 20px;
        top: 10px;
    }
    75% {
       transform: scaleX(-1);
       right: 20px;
       top: 10px;
    }
    100%{
        right: 0px;
        top: 0;
    }
}

.vine{
    position: absolute;
    left: 0px;
    top: -15px;
    transform-origin: top;
    transform:matrix(1.00,0.00,0,1.00,0,0);
    animation-name: vine;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
@keyframes vine{
    from{transform:matrix(1.00,0.00,0,1.00,0,0)}
    to{transform:matrix(0.99,0.00,0.08,1.00,0,0);
    }
}


h1{
    text-align: center;
    padding-top: 120px;
    margin: 0px;
    color: rgb(114, 86, 76);
    font-size: 40px;
}

#banner h2{
    text-align: right;
    margin-right: 150px;
    color: rgb(114, 86, 76);
    font-family: Arial, Helvetica, sans-serif;
}   

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin: 0 200px;
}

main section{
    width: 300px;
    padding: 20px;
    margin: 20px;
    line-height: 20px;
    border: 2px solid rgb(204, 176, 156);
    background-color: rgb(185, 149, 132);
    z-index: 1;
    border-radius: 20px;
}

main section ul a:hover{
    color: rgb(253, 248, 207);
}

main section ul{
    list-style-type: none;  
}

main section h2{
    text-align: left; 
    padding-left: 30px;  
    color: rgb(250, 232, 221);
}

main section ul a{
    text-decoration: none;
    color: rgb(252, 229, 215);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px;
    text-align: center;
}


.table{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    padding: 60px 350px 10px 350px ;
    perspective: 500px;
    perspective-origin: 50% 50%;
}

.table section a{
    text-decoration: none;
    font-family: cursive;
    color: rgb(114, 60, 60);
}

.table section{
    height: 50px;
    width: 120px;
    line-height: 50px;
    padding: 10px;
    text-align: center;
    background-color: rgb(248, 248, 176);
    transform: rotateX(50deg);
}

.table section:hover{
    background-color: rgb(255, 255, 0);
    animation: card 2s linear;   
}
@keyframes card{
    0%{
        transform: rotateX(50deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}